<link rel="stylesheet" href="/modulo/Catalogo/Css/catalogo_principal.css">
<div ng-controller="catalogosCtrl" class="ctrlmain global__content" ng-cloak>
	<main class="main__catalogo--principal">
		<div class="container-fluid">
			
			<div class="open__opciones">
        		<div class="open__opciones--Orden open__tipo" ng-click="toggleMenu('orden')">
            		<label class="Orden__title">Ordenar por</label>
        		</div>
        		<div class="open__opciones--Filtros open__tipo" ng-click="toggleMenu('filtros')">
            		<label class="Filtros__title">
						Filtros
						<span class="badge-filtros" ng-show="getFiltrosCount() > 0" ng-bind="getFiltrosCount()"></span>
					</label>
        		</div>
			</div>

			<div class="overlay-modal" ng-class="{'activo': menuFiltrosAbierto || menuOrdenAbierto}" ng-click="toggleMenu('cerrar')"></div>

			<div class="contenedor__catalogo">
				<div class="menurefacciones__completo">
					
					<div class="filtros" ng-class="{'activo': menuFiltrosAbierto}">
						<div class="sidebar-header mobile-only">
							<h2>Filtros</h2>
							<button class="btn-cerrar" ng-click="toggleMenu('cerrar')">&times;</button>
						</div>

						<div class="sidebar-content">
							
							<div class="filtros__contenedor name__seleccionados" ng-show="etiquetasActivas.length > 0">
								<span class="filtros__header">Tu Selección</span>
								<div id="tags__filtros">
									<div class="tags__contenedor" ng-repeat="tag in etiquetasActivas">
										<i class="fas fa-times cursorpnt" ng-click="quitarEtiqueta(tag)"></i>
										<div class="Filtro_Seleccion" ng-class="tag.value" ng-bind="tag.label"></div>
									</div>
								</div>
								<div class="filtro__quitar">
									<button class="filtro__quitar--button">Borrar filtros</button>
								</div>
							</div>

							<div class="filtros__contenedor">
								<div class="filtros__subtitle name__disponibilidad" ng-click="showDispo = !showDispo">
									<span class="filtros__header">Disponibilidad</span>
									<i class="fas fa-angle-down" ng-class="{'rotar-180': showDispo}"></i>
								</div>
								<div class="contenido__opciones" ng-class="{'abierto': showDispo}">
									<label ng-show="Existencias[0].cantidad_repetida > 0" class="container">
                                        En Existencia (<span ng-bind="Existencias[0].cantidad_repetida"></span>)
										<input type="checkbox" name="Disponibilidad" id="En_Existencia" value="En Existencia" ng-click="checkmark($event)">
										<span class="checkmark"></span>
									</label>
									<label ng-show="Ofertas[0].cantidad_repetida > 0" class="container">
                                        Ofertas (<span ng-bind="Ofertas[0].cantidad_repetida"></span>)
										<input type="checkbox" name="Disponibilidad" id="Ofertas" value="Ofertas" ng-click="checkmark($event)">
										<span class="checkmark"></span>
									</label>
									<label ng-show="Nuevos[0].cantidad_repetida > 0" class="container">
                                        Articulos Nuevos (<span ng-bind="Nuevos[0].cantidad_repetida"></span>)
										<input type="checkbox" name="Disponibilidad" id="Articulos_Nuevos" value="Articulos Nuevos" ng-click="checkmark($event)">
										<span class="checkmark"></span>
									</label>
								</div>
							</div>

							<div class="filtros__contenedor" ng-show="Marcas.length > 0">
								<div class="filtros__subtitle name__marcas" ng-click="showMarcas = !showMarcas">
									<span class="filtros__header">Marcas
										<span class="badge-filtros" style="font-size: 0.9rem; padding: 0.1rem 0.5rem; background: #9ca3af;" ng-show="getCountPorCategoria('Marca') > 0" ng-bind="getCountPorCategoria('Marca')">
    									</span>
									</span>
									<i class="fas fa-angle-down" ng-class="{'rotar-180': showMarcas}"></i>
								</div>
								<div class="contenido__opciones" ng-class="{'abierto': showMarcas}">
									<div ng-repeat="marca in Marcas">
										<label class="container">
                                            <span ng-bind="marca.Marca"></span> (<span ng-bind="marca.cantidad_repetida"></span>)
											<input type="checkbox" name="Marca" ng-attr-id="{{marca.Marca}}" ng-click="checkmark($event)" value="{{marca._idMarca}}">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>

							<div class="filtros__contenedor" ng-show="Vehiculos.length > 0">
								<div class="filtros__subtitle name__vehiculos" ng-click="showVehiculos = !showVehiculos">
									<span class="filtros__header">Vehículos
										<span class="badge-filtros" style="font-size: 0.9rem; padding: 0.1rem 0.5rem; background: #9ca3af;" ng-show="getCountPorCategoria('Vehiculo') > 0" ng-bind="getCountPorCategoria('Vehiculo')">
    									</span>
									</span>
									<i class="fas fa-angle-down" ng-class="{'rotar-180': showVehiculos}"></i>
								</div>
								<div class="contenido__opciones" ng-class="{'abierto': showVehiculos}">
									<div ng-repeat="vehiculo in Vehiculos">
										<label class="container">
                                            <span ng-bind="vehiculo.Modelo"></span> (<span ng-bind="vehiculo.cantidad_repetida"></span>)
											<input type="checkbox" name="Vehiculo" ng-attr-id="{{vehiculo.Modelo}}" ng-click="checkmark($event)" value="{{vehiculo._id}}">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>

							<div class="filtros__contenedor" ng-show="categorias.length > 0">
								<div class="filtros__subtitle name__categorias" ng-click="showCategorias = !showCategorias">
									<span class="filtros__header">Categorías
										<span class="badge-filtros" style="font-size: 0.9rem; padding: 0.1rem 0.5rem; background: #9ca3af;" ng-show="getCountPorCategoria('Categoria') > 0" ng-bind="getCountPorCategoria('Categoria')">
    									</span>
									</span>
									<i class="fas fa-angle-down" ng-class="{'rotar-180': showCategorias}"></i>
								</div>
								<div class="contenido__opciones" ng-class="{'abierto': showCategorias}">
									<div ng-repeat="categoria in categorias">
										<label class="container">
                                            <span ng-bind="categoria.Categoria"></span> (<span ng-bind="categoria.cantidad_repetida"></span>)
											<input type="checkbox" name="Categoria" ng-attr-id="{{categoria.Categoria}}" ng-click="checkmark($event)" value="{{categoria._id}}">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>

							<div class="filtros__contenedor" ng-show="Proveedores.length > 0">
								<div class="filtros__subtitle name__proveedores" ng-click="showProveedores = !showProveedores">
									<span class="filtros__header">Proveedores
										<span class="badge-filtros" style="font-size: 0.9rem; padding: 0.1rem 0.5rem; background: #9ca3af;" ng-show="getCountPorCategoria('Proveedor') > 0" ng-bind="getCountPorCategoria('Proveedor')">
    									</span>
									</span>
									<i class="fas fa-angle-down" ng-class="{'rotar-180': showProveedores}"></i>
								</div>
								<div class="contenido__opciones" ng-class="{'abierto': showProveedores}">
									<div ng-repeat="proveedor in Proveedores | limitTo: view">
										<label class="container">
                                            <span ng-bind="proveedor.Proveedor"></span> (<span ng-bind="proveedor.cantidad_repetida"></span>)
											<input type="checkbox" name="Proveedor" ng-attr-id="{{proveedor.Proveedor}}" ng-click="checkmark($event)" value="{{proveedor.id_proveedor}}">
											<span class="checkmark"></span>
										</label>
									</div>
									<button ng-show="Proveedores.length > 20" ng-click="viewMore()" class="form-control viewmorebtn" id="viewbtn">Ver más</button>
								</div>
							</div>

						</div>

						<div class="sidebar-footer mobile-only">
							<button class="btn-ver-resultados" ng-click="toggleMenu('cerrar')">Ver <span ng-bind="Trefacciones"></span> resultados</button>
						</div>
					</div>

					<div class="filtros__orden" ng-class="{'activo': menuOrdenAbierto}">
						<div class="sidebar-header mobile-only">
							<h2>Ordenar por</h2>
							<button class="btn-cerrar" ng-click="toggleMenu('cerrar')">&times;</button>
						</div>

						<div class="sidebar-content">
							<div class="opcion__ordenamiento">
								<label class="container__radio">Más Relevantes
									<input type="radio" name="orden_radio" ng-checked="ordenSeleccionado === 'relevancia'" ng-click="cambiarOrden('', '')">
									<span class="radiomark"></span>
								</label>
							</div>
							<div class="opcion__ordenamiento">
								<label class="container__radio">Menor Precio
									<input type="radio" name="orden_radio" ng-checked="ordenSeleccionado === 'Precio1-ASC'" ng-click="cambiarOrden('Precio1', 'ASC')">
									<span class="radiomark"></span>
								</label>
							</div>
							<div class="opcion__ordenamiento">
								<label class="container__radio">Mayor Precio
									<input type="radio" name="orden_radio" ng-checked="ordenSeleccionado === 'Precio1-DESC'" ng-click="cambiarOrden('Precio1', 'DESC')">
									<span class="radiomark"></span>
								</label>
							</div>
							<div class="opcion__ordenamiento">
								<label class="container__radio">Alfabético (A - Z)
									<input type="radio" name="orden_radio" ng-checked="ordenSeleccionado === 'Producto-ASC'" ng-click="cambiarOrden('Producto', 'ASC')">
									<span class="radiomark"></span>
								</label>
							</div>
						</div>

						<div class="sidebar-footer mobile-only">
							<button class="btn-ver-resultados" ng-click="toggleMenu('cerrar')">Cerrar</button>
						</div>
					</div>

					<div class="filtro__aplicar mobile-only" ng-show="etiquetasActivas.length > 0">
						<button class="filtro__aplicar--button">Borrar filtros</button>
					</div>

					<div class="productos__refacciones bgwhite">
						<div class="contenedor__buscador__encontrados">
							<div class="search-product pos-relative catalogo__filtrado--buscador form-control">
								<input type="text" name="search-product" placeholder="Buscar Producto..." ng-model="refaccion.producto" ng-model-options="{debounce:1500}" id="prod_input">
								<button class="ab-r-m" ng-click="getRefaccion()">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</div>
							<div class="Trefacciones__cont">
								<span class="s-text8" ng-bind="cargando ? 'Buscando refacciones...' : (Trefacciones + ' Refacciones encontradas.')"></span>
							</div>
						</div>
						
						<div class="loader-container" ng-show="cargando" style="text-align: center; padding: 50px 0;">
    					    <i class="fas fa-spinner fa-spin fa-3x" style="color: #666; margin-bottom: 15px;"></i>
    					    <h3 style="color: #666; font-size: 18px;">Cargando refacciones...</h3>
    					</div>

						<div class="nuestrosproductos__masvendidos" ng-hide="cargando">
							<div class="home__pr" ng-repeat="producto in Refacciones" itemscope itemtype="http://schema.org/Product">
								<div class="productos__informacion">
									<div class="wrap-pic-w of-hidden cursorpnt">
										<a itemprop="url" href="/catalogo/detalles/{{producto._id}}-{{producto.NewUrlName}}" class="enlace">
											<div class="avisos__productos">
												<span class="nuevo__aviso bg-new" ng-show="producto.RefaccionNueva != 0">Nuevo</span>
												<span class="agotado__aviso bg-advertencia" ng-show="producto.agotado">Agotado</span>
												<span class="promocion__aviso bg-promo" ng-show="producto.RefaccionOferta">Promoción</span>
												<span class="enviogratis__aviso bg-promo" ng-show="producto.Enviogratis">Envío gratis</span>
											</div>
											<img itemprop="image" ng-src="{{producto.imagen? 'https://macromautopartes.com/images/refacciones/'+producto._id+'.png':'https://macromautopartes.com/images/refacciones/'+producto._id+'.webp'}}" ng-attr-alt="{{producto.NewAltName}}">
										</a>
									</div>
									<div class="block2-txt">
										<section class="descripcion-producto">
											<meta itemprop="name" content="{{producto.Producto}}">
											<meta itemprop="sku" content="{{producto.No_parte}}">
											<meta itemprop="brand" content="{{producto.NombreProveedor}}">

											<p class="block2-brand" ng-bind="producto.NombreProveedor"></p>
											<a href="/catalogo/detalles/{{producto._id}}-{{producto.NewUrlName}}" class="block2-name dis-block s-text3" ng-bind="producto.Producto"></a>
											
											<div class="sku_row">
												<span class="sku_label dis-block">No. Parte:</span>
												<span class="sku_value dis-block" ng-bind="producto.No_parte"></span>
											</div>
											
											<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="precio__imgprove">
												<meta itemprop="priceCurrency" content="MXN">
												<link itemprop="availability" href="http://schema.org/InStock" ng-if="!producto.agotado" />
												<link itemprop="availability" href="http://schema.org/OutOfStock" ng-if="producto.agotado" />

												<p class="precio__producto price" ng-if="!producto.RefaccionOferta">
													<meta itemprop="price" content="{{producto.Precio1 || '0.00'}}">
													<span ng-bind="producto.Precio1 | currency"></span>
												</p>  
												<p class="precio__producto" ng-if="producto.RefaccionOferta">
													<small class="line_through-red" ng-bind="producto.Precio1 | currency"></small>
													<meta itemprop="price" content="{{producto.Precio2 || '0.00'}}">
													<span ng-bind="producto.Precio2 | currency"></span>
												</p>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>

						<script type="text/javascript">function toTop() { window.scrollTo(0, 0) } </script>
						<div class="pagination" ng-hide="cargando" ng-cloak>
    					    <a class="item-pagination flex-c-m trans-0-4" ng-class="{'active-pagination': currentPage == (pag.no - 1)}"
    					        ng-repeat='pag in pages' ng-click='setPage(pag.no)' ng-bind="pag.no"></a>
    					</div>
					</div>

				</div>
			</div>
		</div>
	</main>
</div>