<link rel="stylesheet" href="/modulo/Login/Css/login.css">

<div ng-controller="LoginCtrl" ng-init="mod='{mod}'">
    <section>
        <div class="container1">
            <div class="login">

                <div class="login__contenedor__uno">
                    <h4 class="contenedor__uno--texto">Calidad, Precio, Servicio</h4>
                </div>

                <div class="login__contenedor__dos">

                    <a href="/" class="fa fa-window-close closeinsregform"></a>

                    <form name="frmlogin" id="frmlogin" novalidate class="form__login" ng-submit="btnLogin()">

                        <div class="contenedor__dos--logo">
                            <img src="../../../images/icons/logo original.svg" alt="Logo Macrom Autopartes">
                        </div>

                        <h4 class="contenedor__dos--titulo">Iniciar Sesión</h4>
                        
                        <div class="mensaje-login error-general" ng-show="loginError && !cuentaBloqueada">
                            <i class="fa fa-exclamation-circle"></i>
                            <span ng-bind="mensajeError"></span>
                        </div>

                        <div class="mensaje-login advertencia"
                            ng-show="loginError && !cuentaBloqueada && intentosRestantes !== null">
                            <i class="fa fa-info-circle"></i>
                            Intentos restantes: <b ng-bind="intentosRestantes"></b>
                        </div>

                        <div class="mensaje-login bloqueo" ng-show="cuentaBloqueada">
                            <i class="fa fa-lock"></i>
                            Tu cuenta está bloqueada temporalmente.
                            <div ng-if="tiempoRestante > 0">
                                Intenta nuevamente en <b ng-bind="tiempoRestante"></b> seg.
                            </div>
                        </div>

                        <div class="form-group main__login">
                            <input type="email" name="login" id="login" placeholder="Correo electrónico"
                                ng-model="login.user" required>
                        </div>

                        <div class="form-group main__login" id="divcpass">
                            <input type="password" name="cpass" id="inprcpass" placeholder="Contraseña"
                                ng-model="login.password" required>
                            <button type="button" class="password__ver" onclick="togglePassword('inprcpass', this)">
                                <i class="fa fa-eye"></i>
                            </button>
                        </div>

                        <div class="login__contenedor--secondary">
                            <div class="secondary__contenedor">

                                <div class="secondary__contenedor--boton">
                                    <button type="submit" ng-disabled="!dataflag" style="width: 100%; display: block; cursor: pointer;">
                                        <span ng-show="dataflag">Iniciar Sesión</span>
                                        <span ng-show="!dataflag"><i class="fa fa-spinner fa-spin"></i> Cargando...</span>
                                    </button>
                                </div>

                                <div class="secondary__contenedor--forgot" style="margin-top: 1rem;">
                                    <button type="button" ng-click="btnolvide()" class="btnolvide" ng-disabled="!dataflag || !login.user" style="cursor: pointer; width: 100%; text-align: center; background: transparent; border: none;">
                                        <p ng-show="dataflag">¿Olvidaste tu contraseña?</p>
                                        <p ng-show="!dataflag" style="color: var(--primario);"><i class="fa fa-sync-alt fa-spin"></i> Procesando...</p>
                                    </button>
                                </div>

                                <div class="secondary__contenedor--register" style="text-align: center; margin-top: 1.5rem;">
                                    <a href="/register" style="display: block;">
                                        <p>Regístrate para crear una cuenta nueva</p>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>
</div>