<link rel="stylesheet" href="/modulo/Login/Css/login.css">
<div ng-controller="LoginCtrl" ng-init="mod='{mod}'" class="ctrlmain">
    <section>
        
        <div class="container1">
            <div class="login">
                <div class="login__contenedor__uno">
                    <div class="brand-panel">
                        <h2>CALIDAD,<br>PRECIO,<br>SERVICIO.</h2>
                    </div>
                </div>
                
                <div class="login__contenedor__dos">
                    <a href="/" class="fa fa-window-close closeinsregform"></a>
                    
                    <form name="frmReg" id="frmReg" novalidate class="form__contenedor" ng-submit="btnRegistrar(frmReg)">

                        <div class="contenedor__dos--logo">
                            <img src="https://macromautopartes.com/images/icons/logo original.svg" alt="Logo Macrom Autopartes" class="logoimgtmn">
                        </div>

                        <h4 class="contenedor__dos--titulo">Registrarme</h4>

                        <div ng-show="frmReg.correo.$dirty && frmReg.correo.$invalid" style="color: var(--primario); margin-bottom: 1rem; font-size: 1.4rem;">
                            <img src="images/icono notificacion.svg" alt="icon-user" style="width: 24px; padding-right: 5px; vertical-align: middle;">
                            Ingresa un correo válido.
                        </div>

                        <div class="contenedor__dos--registro">

                            <div class="registro__datos" id="divnom">
                                <input class="form-control" type="text" name="nombre" placeholder="Nombre(s) *" ng-model="Registro.Nombre" required autocomplete="off" id="inprnom">
                            </div>

                            <div class="registro__datos" id="divape">
                                <input class="form-control" type="text" name="Apellidos" placeholder="Apellidos *" ng-model="Registro.Apellidos" required autocomplete="off" id="inprape">
                            </div>

                            <div class="registro__datos" id="divtel">
                                <input class="form-control" type="number" name="Telefono" placeholder="Teléfono *" ng-model="Registro.Telefono" required autocomplete="off" id="inprtel">
                            </div>

                            <div class="registro__datos" id="divce">
                                <input class="form-control" type="email" name="correo" placeholder="Correo Electrónico *" ng-model="Registro.username" required autocomplete="off" id="inprce">
                            </div>

                            <div class="registro__datos password-wrapper">
                                <input class="form-control" type="password" name="pass" placeholder="Contraseña *" ng-model="Registro.pass" required id="inprpass">
                            
                                <button type="button" class="toggle-eye" onclick="togglePassword('inprpass', this)">
                                    <i class="fa fa-eye"></i>
                                </button>
                            
                                <span id="icon-pass" class="validation-icon"></span>
                            </div>
                            
                            <div class="strength">
                                <div id="strength-bar" class="strength-bar"></div>
                            </div>
                            
                            <div class="registro__datos password-wrapper">
                                <input class="form-control" type="password" name="cpass" placeholder="Confirmar Contraseña *" ng-model="Registro.Cpass" required id="inprcpass">
                            
                                <button type="button" class="toggle-eye" onclick="togglePassword('inprcpass', this)">
                                    <i class="fa fa-eye"></i>
                                </button>
                            
                                <span id="icon-confirm" class="validation-icon"></span>
                            </div>
                            
                            <div id="match-status" class="match-status"></div>

                        </div>

                        <div class="center--text registro__aviso" style="margin-top: 1.5rem;">
                            <label for="aviso" style="cursor: pointer;">
                                <input type="checkbox" id="aviso" name="Aviso" ng-model="Registro.Aviso" required>&nbsp;&nbsp;Acepto el <a href="/aviso-de-privacidad" target="_blank" style="color: var(--primario);">aviso de privacidad</a> y los <a href="/Terminos-condiciones" target="_blank" style="color: var(--primario);">términos y condiciones.</a>
                            </label>    
                        </div>

                        <div class="secondary__contenedor--boton" style="margin-top: 2rem;">
                            <button type="submit" ng-disabled="frmReg.$invalid || !dataflag || !Registro.Aviso" style="width: 100%; display: block; cursor: pointer;">
                                <span ng-show="dataflag">Registrarme</span>
                                <span ng-show="!dataflag"><i class="fa fa-sync-alt fa-spin"></i> Procesando...</span>
                            </button>
                        </div>

                        <p class="yatienes__cuenta" style="text-align: center; margin-top: 1.5rem;">
                            ¿Ya tienes cuenta? <a href="/login" style="font-weight: bold;">Iniciar Sesión</a>
                        </p>
                        
                    </form>
                        
                </div>
            </div>
        </div>
    </section>
</div>