<link rel="stylesheet" href="/modulo/home/Css/home.css">
<div ng-controller="homeCtrl" class="global__content">

    <header class="header" ng-controller="CabeceraCtrl">
        <div class="header__contenido">
            <div class="header__contenido--banner" ng-repeat="banner in dataBanners.Escritorio" ng-show="dataBanners.Escritorio != 0">
                <picture class="header__picture d-grid">
                    <img decoding="sync" fetchpriority="high" ng-src="images/Banners/{{banner.imagen}}" ng-attr-alt="Banner Macrom Autopartes Ofertas" class="header__picture--img" width="1920" height="400" style="width: 100%; height: auto; max-height: 350px; object-fit: cover;">
                </picture>
            </div>
        </div>
    </header>
    
    <div class="contenedor contenido-principal">
        <main class="macrom" id="MainDark">
            <h1 style="position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;">
                Macrom Autopartes: Venta de refacciones y accesorios automotrices.
            </h1>
            <div class="macrom__contenedor--categorias">
                <div>
                    <div class="row rowrap">
                        <div class="categoria__cat" ng-repeat="categoria in Data.Categorias">
                            <div class="block1 hov-img-zoom pos-relative m-b-20">
                                <a href="/catalogo?pag=1&cate={{categoria._id}}">
                                    <img ng-src="{{getImagen(categoria)}}" width="40" height="40" ng-attr-alt="Categoría {{categoria.Categoria}}" class="filcatego" loading="lazy">
                                </a>
                                <div class="block1-wrapbtn">
                                    <a href="/catalogo?pag=1&cate={{categoria._id}}" class="categoria__enlace" ng-bind="categoria.Categoria"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="seccion__nuestrosproductos">
                <div class="contenedor__nuestrosproductos">
                    <h3 class="center--text">Nuestros Productos</h3>
                    
                    <div class="nuestrosproductos">
                        <div class="nuestrosproductos__listaopciones"></div>

                        <div class="tab-content">
                            <div class="toolbar__vistaopciones">
                                <span class="enlace toolbar_click" ng-class="{'toolbar__activada': tabActiva === 'masVendidos'}" ng-click="cambiarTab('masVendidos')">Más Vendidos</span>
                                <span class="enlace toolbar_click1" ng-class="{'toolbar__activada': tabActiva === 'nuevos'}" ng-click="cambiarTab('nuevos')">Nuevos</span>
                                <span class="enlace toolbar_click0" ng-class="{'toolbar__activada': tabActiva === 'liquidacion'}" ng-click="cambiarTab('liquidacion')">Liquidación</span>
                            </div>

                            <div class="contenedor__nuestrosproductos--masvendidos" ng-show="tabActiva === 'masVendidos'">
                                <div class="nuestrosproductos__opciones center--text opcion__activada">
                                    <label><span>Más Vendidos</span></label>
                                </div>
                                <div class="nuestrosproductos__masvendidos">
                                    <div class="home__pr" ng-repeat="producto in Data.masVendidos | limitTo: 8" itemscope itemtype="http://schema.org/Product">
                                        <div class="productos__informacion">
                                            <div class="wrap-pic-w of-hidden cursorpnt">
                                                <a itemprop="url" href="/catalogo/detalles/{{producto._id}}-{{producto.NewUrlName}}" class="enlace">
                                                    <div class="avisos__productos">
                                                        <span class="nuevo__aviso bg-new" ng-show="producto.RefaccionNueva != 0">Nuevo</span>
                                                        <span class="agotado__aviso bg-advertencia" ng-show="producto.agotado">Agotado</span>
                                                        <span class="promocion__aviso bg-promo" ng-show="producto.RefaccionOferta">Promoción</span>
                                                        <span class="enviogratis__aviso bg-promo" ng-show="producto.Enviogratis">Envío gratis</span>
                                                    </div>
                                                    <img itemprop="image" ng-src="{{producto.imagen ? 'images/refacciones/' + producto._id + '.' + producto.img_ext : 'images/refacciones/motor.webp'}}" width="190" height="250" ng-attr-alt="{{producto.NewAltName}}" loading="lazy">
                                                </a>
                                            </div>

                                            <div class="block2-txt">
                                                <section class="descripcion-producto">
                                                    <meta itemprop="name" content="{{producto.Producto}}">
                                                    <meta itemprop="sku" content="{{producto.No_parte}}">
                                                    <meta itemprop="brand" content="{{producto.NombreProveedor}}">

                                                    <p class="block2-brand" ng-bind="producto.NombreProveedor"></p>
                                                    <a href="/catalogo/detalles/{{producto._id}}-{{producto.NewUrlName}}" class="block2-name dis-block s-text3" ng-bind="producto.Producto"></a>

                                                    <div class="sku_row">
                                                        <span class="sku_label dis-block">No. Parte:</span>
                                                        <span class="sku_value dis-block" ng-bind="producto.No_parte"></span>
                                                    </div>
                                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="precio__imgprove">
                                                        <meta itemprop="priceCurrency" content="MXN">
                                                        <link itemprop="availability" href="http://schema.org/InStock" ng-if="!producto.agotado" />
                                                        <link itemprop="availability" href="http://schema.org/OutOfStock" ng-if="producto.agotado" />

                                                        <p class="precio__producto" ng-if="!producto.RefaccionOferta">
                                                            <meta itemprop="price" content="{{producto.Precio1 || '0.00'}}">
                                                            <span ng-bind="producto.Precio1 | currency"></span>
                                                        </p>  
                                                        <p class="precio__producto" ng-if="producto.RefaccionOferta">
                                                            <small class="line_through-red" ng-bind="producto.Precio1 | currency"></small>
                                                            <meta itemprop="price" content="{{producto.Precio2 || '0.00'}}">
                                                            <span ng-bind="producto.Precio2 | currency"></span>
                                                        </p>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contenedor__nuestrosproductos--nuevos" ng-show="tabActiva === 'nuevos'">
                                <div class="nuestrosproductos__opciones center--text opcion__activada">
                                    <label><span>Nuevos</span></label>
                                </div>
                                <div class="nuestrosproductos__masvendidos">
                                    <div class="home__pr" ng-repeat="producto in Data.nuevos | limitTo: 8" itemscope itemtype="http://schema.org/Product">
                                        <div class="productos__informacion">
                                            <div class="wrap-pic-w of-hidden cursorpnt">
                                                <a itemprop="url" href="/catalogo/detalles/{{producto._id}}-{{producto.NewUrlName}}" class="enlace">
                                                    <div class="avisos__productos">
                                                        <span class="nuevo__aviso bg-new" ng-show="producto.RefaccionNueva != 0">Nuevo</span>
                                                        <span class="agotado__aviso bg-advertencia" ng-show="producto.agotado">Agotado</span>
                                                        <span class="promocion__aviso bg-promo" ng-show="producto.RefaccionOferta">Promoción</span>
                                                        <span class="enviogratis__aviso bg-promo" ng-show="producto.Enviogratis">Envío gratis</span>
                                                    </div>
                                                	<img itemprop="image" ng-src="{{producto.imagen ? 'images/refacciones/' + producto._id + '.' + producto.img_ext : 'images/refacciones/motor.webp'}}" width="190" height="250" ng-attr-alt="{{producto.NewAltName}}" loading="lazy">
                                                </a>
                                            </div>

                                            <div class="block2-txt">
                                                <section class="descripcion-producto">
                                                    <meta itemprop="name" content="{{producto.Producto}}">
                                                    <meta itemprop="sku" content="{{producto.No_parte}}">
                                                    <meta itemprop="brand" content="{{producto.NombreProveedor}}">

                                                    <p class="block2-brand" ng-bind="producto.NombreProveedor"></p>
                                                    <a href="/catalogo/detalles/{{producto._id}}-{{producto.NewUrlName}}" class="block2-name dis-block s-text3" ng-bind="producto.Producto"></a>

                                                    <div class="sku_row">
                                                        <span class="sku_label dis-block">No. Parte:</span>
                                                        <span class="sku_value dis-block" ng-bind="producto.No_parte"></span>
                                                    </div>

                                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="precio__imgprove">
                                                        <meta itemprop="priceCurrency" content="MXN">
                                                        <link itemprop="availability" href="http://schema.org/InStock" ng-if="!producto.agotado" />
                                                        <link itemprop="availability" href="http://schema.org/OutOfStock" ng-if="producto.agotado" />

                                                        <p class="precio__producto" ng-if="!producto.RefaccionOferta">
                                                            <meta itemprop="price" content="{{producto.Precio1 || '0.00'}}">
                                                            <span ng-bind="producto.Precio1 | currency"></span>
                                                        </p>  
                                                        <p class="precio__producto" ng-if="producto.RefaccionOferta">
                                                            <small class="line_through-red" ng-bind="producto.Precio1 | currency"></small>
                                                            <meta itemprop="price" content="{{producto.Precio2 || '0.00'}}">
                                                            <span ng-bind="producto.Precio2 | currency"></span>
                                                        </p>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contenedor__nuestrosproductos--masvendidos" ng-show="tabActiva === 'liquidacion'">
                                <div class="nuestrosproductos__opciones center--text opcion__activada">
                                    <label><span>Liquidación</span> </label>
                                </div>
                                <div class="nuestrosproductos__masvendidos">
                                    <div class="home__pr" ng-repeat="producto in Data.liquidacion | limitTo: 8" itemscope itemtype="http://schema.org/Product">
                                        <div class="productos__informacion">
                                            <div class="wrap-pic-w of-hidden cursorpnt">
                                                <a itemprop="url" href="/catalogo/detalles/{{producto._id}}-{{producto.NewUrlName}}" class="enlace">
                                                    <div class="avisos__productos">
                                                        <span class="nuevo__aviso bg-new" ng-show="producto.RefaccionNueva != 0">Nuevo</span>
                                                        <span class="agotado__aviso bg-advertencia" ng-show="producto.agotado">Agotado</span>
                                                        <span class="promocion__aviso bg-promo" ng-show="producto.RefaccionOferta">Promoción</span>
                                                        <span class="enviogratis__aviso bg-promo" ng-show="producto.Enviogratis">Envío gratis</span>
                                                    </div>
                                                    <img itemprop="image" ng-src="{{producto.imagen ? 'images/refacciones/' + producto._id + '.' + producto.img_ext : 'images/refacciones/motor.webp'}}" width="190" height="250" ng-attr-alt="{{producto.NewAltName}}" loading="lazy">
                                                </a>
                                            </div>

                                            <div class="block2-txt">
                                                <section class="descripcion-producto">
                                                    <meta itemprop="name" content="{{producto.Producto}}">
                                                    <meta itemprop="sku" content="{{producto.No_parte}}">
                                                    <meta itemprop="brand" content="{{producto.NombreProveedor}}">

                                                    <p class="block2-brand" ng-bind="producto.NombreProveedor"></p>
                                                    <a href="/catalogo/detalles/{{producto._id}}-{{producto.NewUrlName}}" class="block2-name dis-block s-text3" ng-bind="producto.Producto"></a>
                                                    
                                                    <div class="sku_row">
                                                        <span class="sku_label dis-block">No. Parte:</span>
                                                        <span class="sku_value dis-block" ng-bind="producto.No_parte"></span>
                                                    </div>
                                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="precio__imgprove">  
                                                        <meta itemprop="priceCurrency" content="MXN">
                                                        <link itemprop="availability" href="http://schema.org/InStock" ng-if="!producto.agotado" />
                                                        <link itemprop="availability" href="http://schema.org/OutOfStock" ng-if="producto.agotado" />

                                                        <p class="precio__producto" ng-if="!producto.RefaccionOferta">
                                                            <meta itemprop="price" content="{{producto.Precio1 || '0.00'}}">
                                                            <span ng-bind="producto.Precio1 | currency"></span>
                                                        </p>  
                                                        <p class="precio__producto" ng-if="producto.RefaccionOferta">
                                                            <small class="line_through-red" ng-bind="producto.Precio1 | currency"></small>
                                                            <meta itemprop="price" content="{{producto.Precio2 || '0.00'}}">
                                                            <span ng-bind="producto.Precio2 | currency"></span>
                                                        </p>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="redes__sociales">
                <div class="redes__sociales--titulo">
                    <h3 class="center--text">S&iacute;guenos en nuestras redes sociales</h3>
                    <section class="ss-icon">
                        <a href="https://www.facebook.com/MacromAutopartes/" target="_blank"><article><span class="fab fa-facebook-f"></span></article></a>
                        <a href="https://www.instagram.com/macromautopartes/" target="_blank"><article><span class="fab fa-instagram"></span></article></a>
                        <a href="https://www.youtube.com/channel/UCbVJJH6AIZJ9lH7fE_2rtwA" target="_blank"><article><span class="fab fa-youtube"></span></article></a>
                        <a href="https://www.tiktok.com/@macromautopartes?lang=en" target="_blank"><article><span class="fab fa-tiktok"></span></article></a>
                        <a href="https://wa.me/523122682028" target="_blank"><article><span class="fab fa-whatsapp"></span></article></a>
                      </section>
                </div>

                <div class="contenedor__redsocial">
                    <div class="redsocial">
                        <div class="redsocial__facebook">
                            <div class="fb-page" data-href="https://www.facebook.com/MacromAutopartes/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" 
                                data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MacromAutopartes/" 
                                class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/MacromAutopartes/">Macrom Autopartes</a></blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <section class="informacion__extra">
                <div class="informacion__extra--contenido">
                    <div class="contenido--envios">
                        <h4 class="center--text">Env&iacute;os a toda la Republica</h4>
                    </div>
                    <div class="contenido--garantias">
                        <h4 class="center--text">Garant&iacute;as</h4>
                    </div>
                    <div class="contenido--tiendabierta">
                        <h4 class="center--text">Tienda Abierta</h4>
                        <span class="center--text">Te atendemos de Lunes a S&aacute;bado</span>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>